

<div class="div flex flex-column">

  <span class="mb-3">
    <h1>
      <mat-icon>login</mat-icon>
      Login
    </h1>
  </span>

  <mat-icon>person</mat-icon>
  <mat-form-field>
    <mat-label> Usuario </mat-label>
    <input type="'text" matInput placeholder="Nombre de Usuario">
  </mat-form-field>

  <mat-icon>key</mat-icon>
  <mat-form-field>
    <mat-label> Contraseña </mat-label>
    <input type="'password" matInput placeholder="Contraseña">
  </mat-form-field>

  <button mat-button mat-flat-button color="primary">
    <mat-icon>save</mat-icon>
    Ingresar
  </button>

  <div class="flex justify-content-end mt-5">
    <button mat-button mat-flat-button class="bt-3">

      <mat-icon>person_add</mat-icon>
      <a class="mx-3" text="white" routerLink="/auth/new-account">¿No tienes cuenta?</a>
    </button>
  </div>
</div>