

<h3>Listado de Héroes</h3>
<div *ngIf="deleteHeroes; else nothingDelete">
  <h3>Heroe borrado
    <small class="text-danger">
      {{ deleteHeroes }}
    </small>
  </h3>
</div>

<ng-template #nothingDelete >
  <h3>
    Ningun Héroe se ha borrado
  </h3>
</ng-template>


<ul class="mt-2 list-group">

  <li
  *ngFor="let name of nameHeroes "
  class="list-group-item">
  {{ name }}
  </li>

</ul>

<button
  *ngIf="nameHeroes.length >0"
  (click)="heroDelete()"
  class="btn btn-outline-danger">
  Borrar ultimo Héroe
</button>




