

  <div class="div flex flex-column">

      <span class="mb-3">
        <h1>
          <mat-icon>person</mat-icon>
          Registro
        </h1>
      </span>

      <mat-form-field>
        <mat-label> Nombre </mat-label>
        <input type="'email" matInput placeholder="Nombre de Usuario">
      </mat-form-field>
      <mat-form-field>
        <mat-label> Apellido </mat-label>
        <input type="'email" matInput placeholder="Nombre de Usuario">
      </mat-form-field>
      <mat-form-field>
        <mat-label> Numero </mat-label>
        <input type="'number" matInput placeholder="Nombre de Usuario">
      </mat-form-field>
      <mat-form-field>
        <mat-label> Pais </mat-label>
        <input type="'email" matInput placeholder="Nombre de Usuario">
      </mat-form-field>
      <mat-form-field>
        <mat-label> Correo </mat-label>
        <input type="'email" matInput placeholder="Nombre de Usuario">
      </mat-form-field>

      <mat-icon>key</mat-icon>
      <mat-form-field>
        <mat-label> Contraseña </mat-label>
        <input type="'password" matInput placeholder="Contraseña">
      </mat-form-field>
      <mat-form-field>
        <mat-label> Repetir Contraseña </mat-label>
        <input type="'password" matInput placeholder="Repetir Contraseña">
      </mat-form-field>

      <button mat-button mat-flat-button color="primary">
        <mat-icon>save</mat-icon>
        Crear nueva cuenta
      </button>

      <div class="flex justify-content-end mt-5">
        <button mat-button mat-flat-button class="bt-3">

          <mat-icon>login</mat-icon>
          <a class="mx-3" text="white" routerLink="/auth/login">¿Ya tienes cuenta ingresa aqui?</a>
        </button>
      </div>

    </div>
